*.npy
*.pkl
*.pth
*.csv
*.fits
*.keras
gal_spectra/
star_spectra/
bin_spectra/
agn_spectra/
convnet_model_*/
OLD/
Trash.py
training_h5/
validation_h5/
lamost_val_set/
lamost_train_set/
mlflow/
mlruns/