*.npy
*.pkl
*.pth
*.csv
*.fits
*.keras
*.pdf
*.png
gal_spectra/
star_spectra/
bin_spectra/
agn_spectra/
convnet_model_*/
OLD/
Trash.py
training_h5/
validation_h5/
lamost_val_set/
lamost_train_set/
mlflow/
mlruns/
wandb/
Data_Preparation/Pickles/
Data_Preparation/star_spectra1/
lamost_spectra_uniques/
myenv/
ultra_memory_efficient_models/
Comparing_Mambas_Trans/